body 					{	margin: 0;
							padding: 0;
							font-size: 13px;
							font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif}

svg text				{	font-size: 10px;}

.clear					{	clear: both;}

#currentdate			{	font-size: 12px;
							font-weight: 700;}

.mainContainer			{	width: 1000px;
							margin: 20px 60px 40px;}

.header h1				{	font-weight: 300;
							margin-bottom: 15px;}

.graph					{	width: 100%;
							min-height: 100px;
							margin-bottom: 35px;}

.factoids				{	margin-bottom: 130px;}

.fact					{	float:left;
							margin-left: 50px}

#avgSpeed				{	margin-left: -23px}

.number					{	font-size: 36px;
							font-weight: 300;}

#firstfact				{	margin-left: 0;}

.slider					{	position: relative;
							top: 18px;
							left: 19px;
							width: 62px;
							height: 72px;
							background: url(img/slider.png);
							background-size: 100%;}

.text					{	position: relative;
							top: -34px;
							left: 37px;
							font-size: 10px;
							width:100px;}

.signature				{	width: 100%;}

.svgOne .starttimes 	{	font-weight: 700;}

svg.svgAll				{  margin-bottom: -16px;}

svg.svgOne 				{  margin-bottom: -75px;}
